@import "/packages/bootstrap3-less/bootstrap.lessimport";

@font-face {
	font-family: 'gotham-black';
	src: url('/gotham/gotham-black-webfont.eot');
	src: url('/gotham/gotham-black-webfont.eot') format('embedded-opentype'),
			url('/gotham/gotham-black-webfont.woff') format('woff'),
			url('/gotham/gotham-black-webfont.ttf') format('truetype'),
			url('/gotham/gotham-black-webfont.svg#webfont') format('svg');
		
}
@font-face{
	font-family: 'gotham-normal';
	src: url('/gotham/gotham-book-webfont.eot');
	src: url('/gotham/gotham-book-webfont.eot') format('embedded-opentype'),
			url('/gotham/gotham-book-webfont.woff') format('woff'),
			url('/gotham/gotham-book-webfont.ttf') format('truetype'),
			url('/gotham/gotham-book-webfont.svg#webfont') format('svg');
}
@font-face{
	font-family: 'gotham-light';
	src: url('/gotham/gotham-xlight-webfont.eot');
	src: url('/gotham/gotham-xlight-webfont.eot') format('embedded-opentype'),
			url('/gotham/gotham-xlight-webfont.woff') format('woff'),
			url('/gotham/gotham-xlight-webfont.ttf') format('truetype'),
			url('/gotham/gotham-xlight-webfont.svg#webfont') format('svg');
}
@font-face{
	font-family: 'gotham-bold-condensed';
	src: url('/gotham/gothamxnarrow-bold-webfont.eot');
	src: url('/gotham/gothamxnarrow-bold-webfont.eot') format('embedded-opentype'),
			url('/gotham/gothamxnarrow-bold-webfont.woff') format('woff'),
			url('/gotham/gothamxnarrow-bold-webfont.ttf') format('truetype'),
			url('/gotham/gothamxnarrow-bold-webfont.svg#webfont') format('svg');
}
body {
	color: @black;
	background-color: @light-gray;
}
h2{
	margin-top: 15px;
}
@font-family-base: @normal-font;
@headings-font-family: @bold-font;
@bold-font: "gotham-black", Arial, Helvetica, sans-serif;
@normal-font: "gotham-normal", Arial, Helvetica, sans-serif;
@light-font: "gotham-light"Arial, Helvetica, sans-serif;
@green: #8CC63E;
@dark-gray: #616161;
@light-gray: #f1f1f1;
@green: #92C141;
@navbar: 70px;
@black: #000000;
@border-radius-base: 0px;
@module-height: 180px;
@module-height-expanded: 230px;
@small-shadow: 0 1px 2px rgba(0,0,0,0.2);
@small-shadow-inset: 0 -1px 2px rgba(0,0,0,0.2);
@button-shadow: drop-shadow(0px 1px 2px rgba(0,0,0,0.2));
@bold-cond-font: "gotham-bold-condensed" Arial, Helvetica, sans-serif; 

//buttons
.button-lg{
	display: inline-block;
	background: transparent;
	border: 0;
	outline: 0px;
	font-size: 17pt;
	font-family: @bold-cond-font;
	color: @dark-gray;
	padding-left: 0;
	padding-right: 0;
}
.button-lg:hover{
	filter: @button-shadow;
	-webkit-filter: @button-shadow;
}
.down-arrow-btn{
	background: url('/icons/down-arrow.png');
	height: 25px;
	margin-bottom:-5px;
	width: 25px;
	display: inline-block;

}

//end buttons

.navbar{
	height: @navbar;
	background-color: @black;
	color: @dark-gray;
	position: fixed;
	width: 100%;
	top: 0;

}
.body-wrapper{
	max-width: 1160px;
	margin: 0 auto;
	height: 100%;
	position: relative;
	padding-top: (@navbar + 5px);
}
.module{
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	background-color: white;
	position: relative;
	box-shadow: @small-shadow;
	transition:height .5s;
	overflow: hidden;
}
.product-picture{
	height: @module-height;
	width: @module-height;
	background-color: white;
	float: left;
	transition:width .5s, height .5s;

}
.product-facts-container{
 	padding-left: 15px;
	padding-right: 15px;
	display: inline-block;
	width: calc(~'100% - @{module-height}');
	height: 130px;
	overflow: hidden;
	transition:width .5s, height .5s;
}
.product-facts{
	display: block;
	margin-bottom: 5px;

}

.more-btn{
 	position: absolute;
 	width: 120px;
 	bottom: 0;
 	right: 0;
 	background-color: transparent;
 	outline: none;
 	border: none;
 	display: inline-block;
 	font-size: 15pt;
 	font-family: @bold-font;
 	color: @dark-gray;
}
.search-wrapper{
	max-width: 1160px;
	margin: 0 auto;
	height: @navbar;
	position: relative;
}
.custom-search{
	border-radius: 100px;
	margin-top:15px;
}
.sidebar-button{
	text-align: right;
	position: relative;
	font-family: @bold-font;
	color: @dark-gray;
	font-size: 24px;
	border: 0px;
	background-color: transparent;
	margin-top: 15px;
	display: inline-block;
	width: 100%;
}
.sidebar-button:focus{
	outline: 0px;
}
.dropdown-menu{
	text-align: left;
	left: auto;
	right: auto;
}
.right{
	float: right;
	clear: both;
}
// .module-expanded{
// 	height: auto;
// }
.product-picture-expanded{
	height: @module-height-expanded;
	width: @module-height-expanded;
}
.product-container-expanded{
	width: calc(~'100% - @{module-height-expanded}');
	height: @module-height-expanded;
}

.nutrition-ing{
	display: none;
	clear: both;
	height: auto;
}
.picture-nav-left{
	clear: left;
	float: left;
	width: @module-height-expanded / 2;
	font-family: @bold-font;
	text-align: center;
	color: @dark-gray;
}
.picture-nav-right{
	float: left;
	//background-color: red;
	width: @module-height-expanded / 2;
	font-family: @bold-font;
	text-align: center;
	color: @dark-gray;
}
.circle-middle{
	background: transparent;
	height: 100%;
	width: 100%;
	border: 3px solid @green;
	border-radius: 50%;
	padding: 0;
	position: relative;
}
.circle-inner{
	border-radius: 50%;
	height: 19px;
	position: relative;
	color: @green;
	line-height: 1;
}
.circle-outer{
	width: 25px;
	height: 25px;
	padding: 0px; 
	border-radius: 50%;
	position: relative;
	top: 1px;
	display: inline-block;
}
.more-btn:hover{
	text-shadow: @small-shadow;
}
.more-btn:hover .circle-middle{
	box-shadow: @small-shadow, inset @small-shadow;
}
.more-btn:hover{
	text-shadow: @small-shadow;
}

// .more-btn:hover{
// 	text-shadow: @small-shadow-inset;
// }
// .more-btn:hover .circle-outer{
// 	box-shadow: @small-shadow-inset;
// }
// .more-btn:hover .circle-inner{
// 	box-shadow: @small-shadow;
// }

.picture-nav-btn{
	position: relative;
	font-size: 14px;
}
.picture-nav-btn .circle-outer{
	height: 20px;
	width: 20px;
	padding-top: 10px;
}
.arrow-down {
	display: block;
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid @green;
	margin-top: 7px;
	margin-left: 2px;
}
.dropdown-menu{
	top: auto;
}
.current-distributor{
	border-bottom: 2px solid @black;
	color: @black;
	font-family: @bold-font;
	text-align: right;
	line-height: 1;
	margin-bottom: 10px;
	padding-top: 30px;
}
.current-distributor p{
	font-family: @normal-font;
}
.crumbs{
	margin-bottom: 15px;
	color: @dark-gray;
}
.pic-scale{
	width: 100%;
}