@import "/packages/bootstrap3-less/bootstrap.lessimport";

@font-face {
	font-family: 'gotham-black';

	src: url('/gotham/gothamxnarrow-bold-webfont.eot');
	src: url('/gotham/gothamxnarrow-bold-webfont.eot') format('embedded-opentype'),
			url('/gotham/gothamxnarrow-bold-webfont.woff') format('woff'),
			url('/gotham/gothamxnarrow-bold-webfont.ttf') format('truetype'),
			url('/gotham/gothamxnarrow-bold-webfont.svg#webfont') format('svg');
			
		
}
@font-face{
	font-family: 'gotham-normal';
	src: url('/gotham/gotham-light-webfont.eot');
	src: url('/gotham/gotham-light-webfont.eot') format('embedded-opentype'),
			url('/gotham/gotham-light-webfont.woff') format('woff'),
			url('/gotham/gotham-light-webfont.ttf') format('truetype'),
			url('/gotham/gotham-light-webfont.svg#webfont') format('svg');
}
@font-face{
	font-family: 'gotham-light';
	src: url('/gotham/gotham-xlight-webfont.eot');
	src: url('/gotham/gotham-xlight-webfont.eot') format('embedded-opentype'),
			url('/gotham/gotham-xlight-webfont.woff') format('woff'),
			url('/gotham/gotham-xlight-webfont.ttf') format('truetype'),
			url('/gotham/gotham-xlight-webfont.svg#webfont') format('svg');
}
@font-face {
	font-family: 'gotham-bold-condensed';
	src: url('/gotham/gothamxnarrow-book-webfont.eot');
	src: url('/gotham/gothamxnarrow-book-webfont.eot') format('embedded-opentype'),
			url('/gotham/gothamxnarrow-book-webfont.woff') format('woff'),
			url('/gotham/gothamxnarrow-book-webfont.ttf') format('truetype'),
			url('/gotham/gothamxnarrow-book-webfont.svg#webfont') format('svg');
}
body {
	color: @black;
	background-color: @light-gray;
	// background-image: linear-gradient(@light-gray 1px, transparent 1px),
	// linear-gradient(90deg, @light-gray 1px, transparent 1px),
	// linear-gradient(rgba(150,150,150,.1) 1px, transparent 1px),
	// linear-gradient(90deg, rgba(150,150,150,.1) 1px, transparent 1px);
	// background-size:200px 200px, 200px 200px, 10px 10px, 10px 10px;
	// background-position: center;
	// background-attachment: fixed;
}
h2 {
	margin-top: 15px;
}
li {
	list-style: none;
}
p{
	font-size: 12pt;
}
@font-family-base: @normal-font;
@headings-font-family: @bold-font;
@bold-font: "gotham-black", Arial, Helvetica, sans-serif;
@normal-font: "gotham-normal", Arial, Helvetica, sans-serif;
@light-font: "gotham-light"Arial, Helvetica, sans-serif;
@bold-cond-font: "gotham-bold-condensed" Arial, Helvetica, sans-serif; 
@green: #8CC63E;
@dark-gray: #616161;
@light-gray: #f1f1f1;
@green: #92C141;
@navbar: 70px;
@black: #000000;
@border-radius-base: 0px;
@module-height: 180px;
@module-height-expanded: 230px;
@small-shadow: 3px 3px 0 rgba(0,0,0,0.2);
@small-shadow-inset: 0 -1px 2px rgba(0,0,0,0.2);
@button-shadow: drop-shadow(1px 1px 0 rgba(0,0,0,0.2));

//buttons
.button-lg{
	display: inline-block;
	background: transparent;
	border: 0;
	outline: 0px;
	//font-size: 17pt;
	//height: 40px;
	font-family: @bold-cond-font;
	color: @dark-gray;
	padding: 0;
	margin-bottom: 8px;
	// margin-top: 50%;
	// position: relative;
	text-align: left;
	width: 100%;
	border-bottom: 2px solid @green;
}
.button-lg:hover{
	filter: @button-shadow;
	-webkit-filter: @button-shadow;
	text-align: left;
	padding:0;
	outline: 0;
	display: inline-block;
}
.down-arrow-btn{
	background: url('/icons/down-arrow.png');
	background-size: contain;
	height: 25px;
	//margin-top: 13px;
	width: 25px;
	display: inline-block;
	float: right;
	margin-top: 3px;
}
.plus-btn{
	background: url('/icons/plus-regular.png');
	background-size: contain;
	height: 25px;
	width: 25px;
	float: right;
	margin-top: 5px;
	display: inline-block;
}
.minus-btn{
	background: url('/icons/minus-regular.png');
	background-size: contain;
	height: 25px;
	width: 25px;
	float: right;
	margin-top: 5px;
	display: inline-block;
}

//end buttons

.navbar{
	height: @navbar;
	background-color: @black;
	color: @dark-gray;
	position: fixed;
	width: 100%;
	top: 0;

}
.body-wrapper{
	max-width: 1160px;
	margin: 0 auto;
	height: 100%;
	position: relative;
	padding-top: (@navbar + 5px);
}
.module{
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	background-color: white;
	position: relative;
	box-shadow: @small-shadow;
	transition:height .5s;
	overflow: hidden;
}
.product-picture{
	height: @module-height;
	width: @module-height;
	// background-color: white;
	float: left;
	transition:all .5s;
	background-color:white;
	background-image: linear-gradient(@light-gray 1px, transparent 1px),
	linear-gradient(90deg, @light-gray 1px, transparent 1px),
	linear-gradient(rgba(0,0,0,.1) 1px, transparent 1px),
	linear-gradient(90deg, rgba(0,0,0,.1) 1px, transparent 1px);
	background-size:200px 200px, 200px 200px, 40px 40px, 40px 40px;
	background-position: center;

}
.product-facts-container{
 	padding-left: 15px;
	padding-right: 15px;
	display: inline-block;
	width: calc(~'100% - @{module-height}');
	height: 130px;
	overflow: hidden;
	transition:width .5s, height .5s;
}
.product-facts{
	display: block;
	margin-bottom: 1px;
	font-size: 12pt;

}

.more-btn{
	display: inline-block;
	width: 85px;
	font-size: 18pt;
	color: @dark-gray;
	position: absolute;
	right: 20px;
	bottom: 8px;
}

.search-wrapper{
	max-width: 1160px;
	margin: 0 auto;
	height: @navbar;
	position: relative;
}
.custom-search{
	border-radius: 100px;
	margin-top:15px;
}
.sidebar-button{
	text-align: right;
	position: relative;
	font-family: @bold-font;
	color: @green;
	font-size: 16pt;
	border: 0px;
	background-color: transparent;
	margin-top: 15px;
	display: inline-block;
	width: 100%;
}
.sidebar-button:focus{
	outline: 0px;
}
.dropdown-menu{
	text-align: left;
	left: auto;
	right: auto;
	margin-top: 0;
}
.product-picture-expanded{
	height: @module-height-expanded;
	width: @module-height-expanded;
	-webkit-font-smoothing:antialiased;
}
.product-container-expanded{
	width: calc(~'100% - @{module-height-expanded}');
	height: @module-height-expanded;
}

.nutrition-ing{
	display: none;
	clear: both;
	height: auto;
	width: 100%;
	font-size:	8pt;
	line-height: 1.5;
	list-style: none;
	text-style-position: 0px;
	padding-left: 15px;
	padding-right: 15px;
}
.nutrition-label{
	padding-right: 20px; 
}
.nutrition-value {
	float: right;
}

.nutrition-percent {
	.nutrition-value;
	margin-left: 7px;
}

.picture-nav-btn{
	position: relative;
	font-size: 14px;
}
.picture-nav-btn .circle-outer{
	height: 20px;
	width: 20px;
	padding-top: 10px;
}
.arrow-down {
	display: block;
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid @green;
	margin-top: 7px;
	margin-left: 2px;
}
.dropdown-menu{
	top: auto;
}
.current-distributor p{
	font-family: @normal-font;
}
.crumbs{
	margin-bottom: 9px;
	margin-top: 7px;
	color: @dark-gray;
	font-family: @bold-cond-font;
	font-size: 15pt;
}
.pic-scale{
	width: 100%;
}
.class{
	margin-left: 10%;
	width: 90%;
	font-size: 17pt;
}

.brick{
	margin-left: 15%;
	width: 85%;
	font-size: 14pt;
}
.family{
	margin-left: 5%;
	width: 95%;
	font-size: 18pt;
}
.class .down-arrow-btn{
	height: 21px;
	width: 21px;
	margin-top: 6px;
}
.brick .down-arrow-btn{
	height: 17px;
	width: 17px;
	margin-top: 7px;
}
.button-elips{
	width: calc(~'100% - 30px');
	display: inline-block;
	text-overflow: ellipsis;
}
.distributor-info{
	background: white;
	box-shadow: @small-shadow;
	width: 100%;
	text-align: right;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 1px;
	padding-bottom: 10px; 
	margin-top: 41px;
}
.navbar-logo{
	padding-top: 20px;
	padding-bottom: 20px;
	height: @navbar;
}
.nutrition-facts{
	display: inline-block;
	padding-right: 15px;
	float: left;
}
.nutrition-table{
	margin-right: 30px;
	width: 100%;
}
.ingredients{
	display: inline-block;
	margin-bottom: 35px;
	float: right;
	height: 100%;
}
.family-dropdown-menu{
	margin-left: 5%;
}
.class-dropdown-menu{
	margin-left: 9%;
}
.brick-dropdown-menu{
	margin-left: 14%;
}
.remove-gutter{
	//margin-left: -15px;
	margin-bottom: 45px;
}
//productlisting
.listing-margin{
	margin-left: 0;
	margin-right: 0;
}
.listing-pic{
	width: 100%;
	height: auto;
}
.listing-margin .nutrition-ing{
	display: block;
}
.margin-top{
	margin-top: 20px;
}
.loading-gif{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	margin-top: 50px;
}