/* CSS declarations go here */

	    		body {padding-top: 70px;}
	    	
	    	.dsdnet-header-logo {
	    		width: 250px;
	    		padding-left: 15px;
	    		padding-right: 15px;
	    		padding-top: 5px;
	    		padding-bottom: 5px;
	    		margin-right: 15px;
	    	}
	    	.dsdnet-header-search-hack {
	    		padding-left: 15px;
	    	}
	    	.dsdnet-sidebar {
	    		width: 250px;
	    		padding-left: 15px;
	    		padding-right: 15px;
	    		position: absolute;
	    		left: 0px;
	    		top: 70px;
	    	}
	    	.dsdnet-content {
	    		margin-left: 280px;
	    		margin-right: 15px;
	    	}
	    	.dsdnet-about {
	    		margin-top: 0;
	    	}
	    	.dsdnet-category-thumbnail {
	    		padding-bottom: 15px;
	    	}
	    	.dsdnet-product-thumbnail {
	    		padding-bottom: 15px;
	    	}
	    	.dsdnet-home-content-area {
	    		margin-left: 15px;
	    		margin-right: 15px;
	    	}
	    	.dsdaboutpic{
	    		height: 100%;
	    		overflow: hidden;
	    	}
	    	.img-sqr-wrapper{
	    		height: 250px;
	    		width: 250px;
	    		overflow: hidden;
	    	}